// .accordion__item {
// 	border-radius: rem(10);

// 	&:not(:last-of-type) {
// 		margin-bottom: rem(15);

// 		@include media('max', 'md2') {
// 			margin-bottom: rem(10);
// 		}
// 	}
// }

// .accordion__header {
// 	position: relative;
// 	display: flex;
// 	justify-content: space-between;
// 	align-items: center;
// 	padding: rem(30) rem(54) rem(30) rem(30);
// 	font-size: rem(18);
// 	border-radius: rem(10);
// 	cursor: pointer;

// 	@include media('max', 'md2') {
// 		padding: rem(20) rem(60) rem(20) rem(20);
// 		font-size: rem(14);
// 	}

// 	&::after {
// 		position: absolute;
// 		content: '\e902';
// 		font-family: 'icomoon' !important;
// 		right: rem(30);
// 		top: 50%;
// 		margin-top: -12px;
// 		width: rem(15);
// 		height: rem(10);
// 		font-size: rem(9);
// 		line-height: rem(9);
// 		font-weight: 500;
// 		transition: transform 0.2s ease-out;
// 	}
// }

// .accordion__item_show .accordion__header::after,
// .accordion__item_slidedown .accordion__header::after {
// 	transform: rotate(-180deg);
// }

// .accordion__content {
// 	display: flex;
// 	flex-direction: column;
// 	background: #fff;
// 	border-radius: 0 0 rem(10) rem(10);
// 	padding: 0 rem(30) rem(30) rem(30);
// 	line-height: 150%;

// 	@include media('max', 'md2') {
// 		padding: 0 rem(20) rem(20) rem(20);
// 	}
// }

// .accordion__item:not(.accordion__item_show) .accordion__body {
// 	display: none;
// }

// .accordion__item_show {
// 	&.accordion__header {
// 		border-radius: rem(10) rem(10) 0 0;
// 	}
// }

.accordion__item {
	border-radius: 10px;
	overflow: hidden; // Чтобы контент не выходил за границы
}

.accordion__header {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	transition: 0.2s ease-in-out;
}

.accordion__header::after {
	display: block;
	content: '';
	position: absolute;
	background: url('/assets/images/svg/arrow-down.svg') 50% no-repeat;
	background-size: cover;

	width: 7px;
	height: 4px;
	right: 10px;
	top: 50%;
	transform: translateY(-50%) rotate(-180deg);
	transition: transform 0.2s ease-out;


	@include media('min', 'md1') {
		width: 9px;
	}

}

.accordion__item_show .accordion__header::after,
.accordion__item_slidedown .accordion__header::after {
	transform: rotate(0deg);
}

.accordion__body {
	display: none; // По умолчанию скрыто
	overflow: hidden;
}

.accordion__item_show .accordion__body {
	display: block;
}