@include font-face('arial', '../fonts/Arial-bold', 700, normal, woff2);
@include font-face('arial', '../fonts/arial-reg', 400, normal, woff2);
@include font-face('arial', '../fonts/arial-italic-reg', 400, italic, woff2);
@include font-face('prata', '../fonts/Prata-Regular', 400, normal, woff2);
// @include font-face('pt-root', '../fonts/pt-root-reg', 400, normal, woff2);
// @include font-face('Manrope', '../fonts/Manrope-Medium', 500, normal, woff);
// @include font-face('Manrope', '../fonts/Manrope-Regular', 400, normal, woff);
@include font-face('icomoon', '../fonts/icomoon', 400, normal, woff);

[class^='icon-'],
[class*=' icon-'] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-2:before {
	content: '\e900';
}

.icon-arrow-drop:before {
	content: '\e901';
}

.icon-arrow-slider:before {
	content: '\e902';
}

.icon-arrow:before {
	content: '\e903';
}

.icon-basket-2:before {
	content: '\e904';
}

.icon-basket:before {
	content: '\e905';
}

.icon-check:before {
	content: '\e906';
}

.icon-favorite:before {
	content: '\e907';
}

.icon-inst:before {
	content: '\e908';
}

.icon-map-point:before {
	content: '\e909';
}

.icon-search:before {
	content: '\e90a';
}

.icon-tg:before {
	content: '\e90b';
}

.icon-vk:before {
	content: '\e90c';
}