body {
	font-family: $fontFamily;
	font-size: $mainFontSize;
	color: var(--white);

	font-weight: 400;
	line-height: 1.4;

	background-color: var(--main-bg);

	@include media('max', 'md2') {
		font-size: 14px;
	}
}

*,
::after,
::before {
	box-sizing: border-box;
}

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	max-width: 1600px;
	margin: auto;

	/*
   width: vw(1496);
   max-width: 100%;
   margin: 0 auto;
   @include media("max", "md2") {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
   }*/
	// @include media('min', 'md1') {
	// 	max-width: none;
	// 	padding-inline: 10px;
	// }

	// @include media('min', 'md2') {
	// 	max-width: 756px;
	// }

	// @include media('min', 'md3') {
	// 	max-width: 1012px;
	// }

	// @include media('min', 'md4') {
	// 	max-width: 1240px;
	// }

	// @include media('min', 'md5') {
	// 	max-width: 1440px;
	// }

	/*   @include media('min', 'md7') {
    max-width: 1350px;
  }

  @include media('min', 'md8') {
    max-width: 1496px;
  } */

}