<header class="header">
	<div class="container">
		<div class="header__inner">
			<a href="#" class="logo"><img src="assets/images/svg/logo.svg" alt="logo"></a>
			<nav class="nav">
				<a href="#" class="nav__link">Home</a>
				<a href="#" class="nav__link">Benefits</a>
				<a href="#" class="nav__link">Features</a>
				<a href="#" class="nav__link">Contact</a>
			</nav>

			<div class="header__burger">
				<span class="header__burger-span"></span>
				<span class="header__burger-span"></span>
				<span class="header__burger-span"></span>
			</div>
		</div>
	</div>
</header>